div[data-rehype-pretty-code-fragment] {
  border-radius: 0.375rem;
  overflow: hidden;
}

div[data-rehype-pretty-code-title] {
  background-color: rgb(255 255 255 / 0.6);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  line-height: 1rem;
  color: gray;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 12px;
  line-height: 1.5rem;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
}

div[data-rehype-pretty-code-fragment] span[data-line] {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-left-width: 4px;
  border-left-color: transparent;
}

div[data-rehype-pretty-code-fragment] span[data-highlighted-line] {
  border-left-color: rgb(167 139 250 / 0.4);
  background-color: rgb(56 189 248 / 0.2);
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
